DATABASE_URL="postgresql://postgres:1234@localhost:5432/farm_2569?schema=farm_ledger"
DIRECT_URL="postgresql://postgres:1234@localhost:5432/farm_2569?schema=farm_ledger"
SEED_EMAIL="owner@farm.local"
SEED_PASSWORD="ChangeMe123!"
